@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::selection {
  color: #ffff;
  background: rgb(142, 73, 232);
}
li,
span {
  font-size: 14px !important;
  color: #000 !important;
}
span,
button {
  margin-right: 5px !important;
}
button {
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}
body {
  width: 100%;
  height: 100vh;
  margin: 0;
}
/* Login */
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(90% - 0px);
}
.lead {
  font-size: 32px;
  font-weight: 600;
}
.form-control-lg,
.form-label {
  font-size: 14px;
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
/* End Login */
.bgcolor {
  height: 100%;
  background: linear-gradient(to bottom, #68eacc 0%, #497be8 100%);
}
.header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
  height: 80px;
}
#btnSignout {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background: #8e49e8;
  padding: 5px 10px;
  border-radius: 5px;
}
.title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000bf;
}
.title-section p,
.title-section span {
  margin: 0;
  font-size: 30px !important;
  color: #fff !important;
  font-weight: 600 !important;
}
.title-section span {
  color: #8e49e8 !important;
}
.wrapper {
  background: #fff;
  max-width: 470px;
  width: 100%;
  margin: 50px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
.wrapper h3 {
  font-size: 30px;
  font-weight: 600;
}
.wrapper .formTodo {
  margin: 20px 0;
  width: 100%;
  display: flex;
  height: 45px;
}
.formTodo input {
  width: 85%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
}
.formTodo input:focus {
  border-color: #8e49e8;
}
.formTodo button {
  height: 100%;
  border: none;
  color: #fff;
  margin-left: 5px;
  font-size: 16px;
  outline: none;
  background: #8e49e8;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.formTodo button:hover {
  background: #721ce3;
}
.formTodo button.active {
  opacity: 1;
  pointer-events: auto;
}
.wrapper .container {
  max-height: 250px;
  overflow-y: auto;
}
.list {
  position: relative;
  list-style: none;
  line-height: 45px;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
}
.editbtn {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background: #00009d;
  padding: 5px 10px;
  border-radius: 5px;
  line-height: 1.5;
}
.statusbtn {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background: #008000;
  padding: 5px 10px;
  border-radius: 5px;
  line-height: 1.5;
}
.deletebtn {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background: #cb0303;
  padding: 5px 10px;
  border-radius: 5px;
  line-height: 1.5;
}
